{% extends "base.html" %}

{% block title %}
Cafe
{% endblock %}

{% block content %}
<br>
<br>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cafe Name</th>
      <th scope="col">Website</th>
      <th scope="col">Image</th>
      <th scope="col">Location</th>
      <th scope="col">Sockets</th>
      <th scope="col">Toilets</th>
      <th scope="col">Wifi</th>
      <th scope="col">Calls</th>
      <th scope="col">Seats</th>
      <th scope="col">Coffee Price</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for cafe in all_cafes %}
    <tr>
      <th scope="row">{{ cafe.id }}</th>
      <td>{{ cafe.name }}</td>
      <td><a href="{{ cafe.map_url }}" target="_blank">Website</a></td>
      <td><a href="{{ cafe.img_url }}" target="_blank">Image</a></td>
      <td>{{ cafe.location }}</td>
      {% if cafe.has_sockets == 1 %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
      {% if cafe.has_toilet == 1 %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
      {% if cafe.has_wifi == 1 %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
      {% if cafe.can_take_calls == 1 %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
      <td>{{ cafe.seats }}</td>
      <td>{{ cafe.coffee_price }}</td>
      <td><a href="{{ url_for('delete', cafe_id=cafe.id) }}" class="btn btn-danger">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
